@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.eot');
    src: url('../fonts/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

input,
select,
textarea {
    box-sizing: border-box;
}

.wrapper {
    margin: 0 auto;
    max-width: 990px;
}

.collum {
    display: block;
    width: 330px;
}
.collum-small{
    float: left;
    width: 166px;
}
.collum-smal{
    float: left;
    width: 255px;
}

h1 {
    margin: 0;
    margin-top: 77px;
    font-size: 30px;
    color: #1f222c;
    font-weight: 700;
    font-family: "Roboto Slab";
    text-align: center;
}

h3,
h2 {
    margin-top: 70px;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 0px;
    color: #b3b3b3;
    font-weight: 700;
    font-family: "Roboto";
}


.input {

    margin-bottom: 10px;
    padding: 13px 0 11px 17px;
    width: 100%;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

.input:focus,
textarea:focus,
.goroda:focus {
    border: 1px solid #3e6aff;
    border-radius: 3px;
    box-shadow: 0 0 2.5px rgba(62, 106, 255, 0.55);
    border: 1px solid #3e6aff;
    outline: none;
}

.goroda {
    margin-bottom: 10px;
    padding: 11px 0 11px 17px;
    width: 100%;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

textarea {
    resize: vertical;
    min-height: 131px;
    width: 100%;
    padding: 13px 0 11px 17px;
    height: 104px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #cccccc;

}



.knopka {
    padding: 13px 0;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto";
    text-align: center;
    width: 100%;
    border: none;
    border-radius: 3px;
    background-color: #12d661;
    filter: drop-shadow(0px 2px 2.5px rgba(8, 118, 52, 0.35));
}
input[type=radio]{
    float: left;
}
.poshta {
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto";
}

.poshta-hide {
    font-size: 14px;
    color: #b3b3b3;
    font-weight: 400;
    font-family: "Roboto";
}
.select-poshta,
.select-rules{
    float: left;
}