@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.eot');
    src: url('../fonts/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

input,
select,
textarea {
    box-sizing: border-box;
}

.element3 {

    margin-top: 50px;
    border-top: 1px solid #dcdcde;
}

.wrapper {
    margin: 0 auto;
    max-width: 52%;
    width: 980px;
}

.collum {
    display: inline-block;
    width: 330px;
}

.collumm {
    float: right;
    display: inline-block;
    width: 310px;
}

.collum-small {
    float: left;
    width: 166px;
}

.collum-smal {
    float: left;
    width: 255px;
}

h1 {
    margin: 0;
    margin-top: 77px;
    font-size: 30px;
    color: #1f222c;
    font-weight: 700;
    font-family: "Roboto Slab";
    text-align: center;
}

h3,
h2 {
    margin-top: 50px;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 0px;
    color: #b3b3b3;
    font-weight: 700;
    font-family: "Roboto";
}


.input {

    margin-bottom: 10px;
    padding: 13px 0 11px 17px;
    width: 100%;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

.input:focus,
textarea:focus,
.goroda:focus,
.login:focus {
    border: 1px solid #3e6aff;
    border-radius: 3px;
    box-shadow: 0 0 2.5px rgba(62, 106, 255, 0.55);
    border: 1px solid #3e6aff;
    outline: none;
}

.goroda {
    margin-bottom: 10px;
    padding: 11px 0 11px 17px;
    width: 100%;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

textarea {
    resize: vertical;
    min-height: 131px;
    width: 100%;
    padding: 13px 0 11px 17px;
    height: 104px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #cccccc;

}



.knopka {
    margin-top: 10px;
    padding: 13px 0;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto";
    text-align: center;
    width: 100%;
    border: none;
    border-radius: 3px;
    background-color: #12d661;
}

.knopka:hover {
    background-color: #07be51;
    filter: drop-shadow(0px 2px 2.5px rgba(8, 118, 52, 0.35));
}

input[type=radio] {
    visibility: hidden;
}

.poshta {
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto";
}

.poshta-hide {
    font-size: 14px;
    color: #b3b3b3;
    font-weight: 400;
    font-family: "Roboto";
}

.select-poshta,
.select-rules {
    float: left;
}

.delivery2+label {
    display: inline-block;
    position: relative;
}

.delivery2+label::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    left: -20px;
    top: -1px;
    transition: all 0.5s ease;
}

.delivery2:checked+label::before {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid #3e6aff;
}

.delivery2:checked+label::after {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #3e6aff;
    left: -15px;
    top: 4px;

}
.checkbox{
    visibility: hidden;
}
.checkbox+label {
    display: inline-block;
    position: relative;
}

.checkbox+label::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    left: -25px;
    transition: all 0.5s ease;
}

.checkbox:checked+label::before {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #3e6aff;
}

.checkbox:checked+label::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 5px;
    border-left: 2.5px solid #244dd7;
    border-bottom: 2.5px solid #244dd7;
    transform: rotate(-45deg);
    left: -21px;
    top: 3.5px;
}
.select-rules p {
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto";
}

.select-rules p:last-child {
    font-size: 14px;
    color: #b3b3b3;
    font-weight: 400;
    font-family: "Roboto";
}

.date {
    float: right;
    min-width: 473px;

    border-radius: 3px;
    background-color: #f7f7f7;
    border: 1px solid #e5e5e5;
}

.mini-collum {
    float: left;
    width: 100px;
}

.mini-collum p {
    margin: 0;
    padding: 25px 20px 0 25px;
    font-size: 14px;
    color: #b3b3b3;
    font-weight: 700;
    font-family: "Roboto";
}

.date label {
    display: inline-block;
    margin-right: 24px;
}

.mini-collum p:last-child {
    padding-bottom: 30px;
}

.date form {
    padding: 24px 0 25px 0;
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto";
}

.date form p {
    margin: 0;
    padding-top: 14px;
}

.line {
    border-top: 1px solid #dcdcde;
    margin-top: 190px;
}

.collum-people {
    position: relative;
}

.collum-people p {
    margin: 0;
}

.collum-people p input {
    visibility: hidden;
}

.collum-people .man {
    content: "";
    position: absolute;
    left: 0;
    width: 71px;
    height: 71px;
    background-image: url(../img/man.png);
    cursor: pointer;
}

.collum-people .man-collor:checked+label:before {
    content: "";
    position: absolute;
    left: 0;
    width: 70px;
    height: 70.1px;
    background-image: url(../img/man-color.png);

}

.collum-people p .woman {
    content: "";
    position: absolute;
    top: 80px;
    left: 0;
    width: 71px;
    height: 71px;
    background-image: url(../img/women.png);
    cursor: pointer;
}

.collum-people .woman-collor:checked+label:before {
    content: "";
    position: absolute;
    left: 0;
    width: 70px;
    height: 70.1px;
    background-image: url(../img/women-color.png);
}


.collum-people b {
    display: inline-block;
    font-size: 16px;
    color: #1f222c;
    font-weight: 700;
    font-family: "Roboto";
    padding-top: 26px;
    padding-left: 85px;
}

.collum-people .woman-collor:checked+.woman b,
.collum-people .man-collor:checked+.man b {
    color: #3e6aff;
}

/* Фіксована форма 6 */
.collumm p {
    display: inline-block;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 13px;
    color: #b3b3b3;
    font-weight: 400;
    font-family: "Roboto";
}

.oboi {
    margin: 0;
    padding: 0 25px;
    max-width: 310px;
    height: 282px;
    border-radius: 5px;
    filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.15));
    background-color: #fafafa;
    border: 1px solid #e6e6e6;
}

.oboi a {
    display: block;
    padding: 12px 0;
    text-decoration: none;
    font-size: 13px;
    color: #3e6aff;
    font-weight: 400;
    font-family: "Roboto";
}

.oboi a:hover {
    font-size: 13px;
    color: #3e6aff;
    font-weight: 400;
    font-family: "Roboto";
    text-decoration: underline;
}

.login {
    display: inline;
    padding: 0;
    padding-left: 10px;
    width: 100%;
    height: 36px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

.pasword {
    font-size: 13px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto";
    padding-left: 10px;
}

.parol {
    visibility: hidden;
}

.parol+label {
    display: inline-block;
    position: relative;
}

.parol+label::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    left: -15px;
    transition: all 0.5s ease;
}

.parol:checked+label::before {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #3e6aff;
}

.parol:checked+label::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 5px;
    border-left: 2.5px solid #244dd7;
    border-bottom: 2.5px solid #244dd7;
    transform: rotate(-45deg);
    left: -11px;
    top: 3.5px;
}

.parol {
    margin-left: 0;
}

.forma-end {
    position: relative;
    position: fixed;
    max-width: 320px;
}

.end {
    position: absolute;
    appearance: none;
    margin: 0;
    top: 102px;
    right: 0;
    z-index: 1;
}

.end::before,
.end::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    right: 10px;
    transform: rotate(45deg);
    background-color: #b3b3b3;
}

.end::after {
    transform: rotate(-45deg);
}

.end:hover::before,
.end:hover::after {
    background-color: #949494;
}

.end:checked~.oboi,
.end:checked~h2 {
    display: none;
}

.end:checked {
    display: none;
}

.apple-icons {
    display: inline-block;
    position: relative;
    float: right;
    margin-right: 325px;
    top: -40px;
}

.apple-icons label {
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto";
}

.apple-icons p {
    margin: 0;
    padding-top: 23px;
}

.apple-icons input {
    appearance: none;
}

.on-off+label {
    display: inline-block;
    position: relative;
}

.on-off+label::before {
    content: "";
    position: absolute;
    width: 45px;
    height: 25px;
    border-radius: 16px;
    background-color: #cfcfd1;
    border: 1px solid #ccc;
    left: -58px;
    top: -3px;
    transition: all 0.5s ease;
}

.on-off:checked+label::before {
    background-color: #3e6aff;
    border: 1px solid #3e6aff;
}

.on-off+label::after {
    content: "";
    position: absolute;
    width: 21px;
    height: 21px;
    border-radius: 11px;
    filter: drop-shadow(0 0 2.5px rgba(0, 0, 0, 0.5));
    background-color: #ffffff;
    left: -55px;
    top: 0px;
    transition: all 0.5s ease;
}

.on-off:checked+label::after {
    border-radius: 11px;
    filter: drop-shadow(0 0 2.5px rgba(0, 0, 0, 0.5));
    background-color: #ffffff;
    left: -35px;
}



.form-table table {
    max-width: 500px;
    width: 100%;
}

.form-table td:first-child {
    width: 160px;
    padding: 20px 0;
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto";
}

.forma-table {
    display: block;
}

.file-select+label::before {
    content: "Виберіть файл";
    padding: 16px 0;
    position: absolute;
    width: 170px;
    text-align: center;
    font-weight: 700;
    border-radius: 3px;
    background-color: #3e6aff;
    color: #fff;
    top: -17px;
}

.file-select+label {
    position: relative;
}

.file-select {
    position: absolute;
    visibility: hidden;
}

.delivery3+label {
    display: inline-block;
    position: relative;
}

.delivery3+label::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    left: -20px;
    top: -1px;
    transition: all 0.5s ease;
}

.delivery3:checked+label::before {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid #3e6aff;
}

.delivery3:checked+label::after {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #3e6aff;
    left: -15px;
    top: 4px;

}

.wc-man,
.wc-woman {
    padding-left: 9px;
    padding-right: 22px;
}